.section-contact {
     grid-column: 1 / -1;
     grid-row: 7 / 8;

     &__groups {
          display: grid;
          grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
          grid-column-gap: 5rem;
          grid-row-gap: 2.5rem;
     }

     &__input:focus {
          border-bottom: 1px solid #2196F3  !important;
     }

     &__textarea:focus {
          border-bottom: 1px solid #2196F3  !important;
     }

     &__cta {
          &:focus {
               outline: none !important;
          }
     }
}

